<a href="https://colab.research.google.com/github/PankajAgarwalS/SE-COMP-SEM-5/blob/main/CS1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import seaborn as sns
print(sns.get_dataset_names())

In [ ]:
import pandas as pd

In [ ]:
from seaborn.utils import get_dataset_names
db=sns.load_dataset('titanic')

In [ ]:
print(db.head(10))

In [ ]:
print(db.tail())

In [ ]:
print(db.sample(5))

In [ ]:
print(db.info())

In [ ]:
print(db.describe())